<div class="container">
  <div class="row">
    <div class="col-8 paper-col d-flex justify-content-center align-items-center">
      <mat-card class="paper p-0 bg-white">
        <img ngDraggable ngResizable class="drag-image" src="../../assets/imgs/simu2.jpg"/>
      </mat-card>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12 pt-3">
          <app-nav-right></app-nav-right>
        </div>
        <div class="col-12 pt-3">
<!--          <img [src]="imageDestination" class="img-preview">-->
        </div>
      </div>
    </div>
  </div>
</div>
