<div class="container">
  <div class="row">
    <div class="col-12 pl-0"><font color="#eeeeee" size="2">Colors:</font></div>
  </div>
  <div class="row">
    <button (click)="changeColorBlueDark()" class="color blue-dark mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#2980b9</font>
    </button>
    <button (click)="changeColorRedDark()" class="color red-dark mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#c0392b</font>
    </button>
    <button (click)="changeColorBbDark()" class="color bb-dark mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#34495e</font>
    </button>
    <button (click)="changeColorGrayLight()" class="color gray-light mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#95a5a6</font>
    </button>
    <button (click)="changeColorBlueLight()" class="color blue-light mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#16a085</font>
    </button>
    <button (click)="changeColorOrangeDark()" class="color orange-dark mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#c23616</font>
    </button>
    <button (click)="changeColorYellowDark()" class="color yellow-dark mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#e1b12c</font>
    </button>
    <button (click)="changeColorPinkDark()" class="color pink-dark mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#0652DD</font>
    </button>
    <button (click)="changeColorPurpleDark()" class="color purple-dark mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#6F1E51</font>
    </button>
    <button (click)="changeColorWhite()" class="color white mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#ffffff</font>
    </button>
    <button (click)="changeColorWhiteBlue()" class="color white-blue mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#bae8e8</font>
    </button>
    <button (click)="changeColorBling()" class="color bling mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#00adb5</font>
    </button>
    <button (click)="changeColorBlueNight()" class="color blue-night mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#393e46</font>
    </button>
    <button (click)="changeColorOrange()" class="color orange mt-1 ml-1 d-flex align-items-center justify-content-center">
      <font class="color-hex">#f33535</font>
    </button>
  </div>
  <div class="row mt-2">
    <app-shapes id="shapes"></app-shapes>
    <app-stickers id="stickers"></app-stickers>
    <app-icons id="icons"></app-icons>
  </div>
</div>
