<div class="contain-page">
  <header>
    <nav class="navbar nvbr">
      <a class="navbar-brand d-flex justify-items-center ml-5" href="" routerLink="/login">
        <img src="../../assets/imgs/logo-blue.png" width="50px" height="auto" class="nav-brand d-inline-block align-top align-start" alt="">
      </a>

      <div class="row">
        <ul class="nav nav-login snip1226 justify-content-end">

          <li class="nav-item dropdown">
            <div class="li-link">
              <select class="language nav-link">
                <option class="language-option" value="english">ENGLISH</option>
                <option class="language-option" value="french">FRANCAIS</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="row m-5 pl-4 header-row">
    <div class="col-7 mt-4">
      <mat-card class="first-card">
        <div class="row"><font class="big-text">Imagine, Create, Impact.</font></div>
        <div class="row">
          <font size="3" color="silver">let your imagination take shape in one touch. Amtouch is a free and intuitive image processing application for everyone.</font>
        </div>
        <mat-card-content class="presentation-img mt-3">
          <img src="../../assets/imgs/accueilS.png" width="400px">
        </mat-card-content>
      </mat-card>

    </div>
    <div class="col-5">
      <mat-card class="mat-card-form pb-4">
        <mat-card-header>
          <mat-card-title class="sign-title text-center">-  SIGN IN  -</mat-card-title>
        </mat-card-header>
        <div>
          <mat-form-field class="signin-input" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput required class="input-style" type="text" placeholder="Username...">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="signin-input" appearance="outline">
            <mat-label>Mail Address</mat-label>
            <input matInput required class="input-style" type="email" placeholder="Email...">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="signin-input" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput required class="input-style" type="password" placeholder="Enter your assword...">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="signin-input" appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input matInput required class="input-style" type="password" placeholder="Confirm the password...">
          </mat-form-field>
        </div>
        <mat-card-actions>
          <button class="signin-btn">Sign in</button>
          <div class="mt-3">
            <button class="signin-with"><img src="../../assets/imgs/logoB.png" width="15px"/>&nbsp;Sign in with Amonak</button>
            <button class="signin-with ml-2"><img src="../../assets/imgs/fb.png" width="15px"/>&nbsp;Sign in with Facebook</button>
            <button class="signin-with ml-2"><img src="../../assets/imgs/google.png" width="15px"/>&nbsp;Sign in with Google</button>
          </div>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <font></font>
        </div>
      </div>
    </div>
  </section>
</div>
