<div class="container">
  <div class="row">
    <font class="title">Stickers</font>
  </div>
  <div class="row">
    <div id="frame">
      <div id="frameRow">
<!--        <div id="iconId"><font color="white">...</font></div>-->
        <button (click)="sendIdFsms()" id="rfasmilewink" class="noBtnStyle"><i class="fas fa-smile-wink"></i></button>
        <button class="noBtnStyle"><i class="far fa-smile-wink"></i></button>
        <button class="noBtnStyle"><i class="far fa-surprise"></i></button>
        <button class="noBtnStyle"><i class="fas fa-surprise"></i></button>
        <button class="noBtnStyle"><i class="fas fa-smile-beam"></i></button>
        <button class="noBtnStyle"><i class="far fa-smile-beam"></i></button>
        <button class="noBtnStyle"><i class="far fa-grin-stars"></i></button>
        <button class="noBtnStyle"><i class="fas fa-grin-stars"></i></button>
        <button class="noBtnStyle"><i class="far fa-grin-wink"></i></button>
        <button class="noBtnStyle"><i class="fas fa-grin-wink"></i></button>
        <button class="noBtnStyle"><i class="fas fa-grin-squint-tears"></i></button>
        <button class="noBtnStyle"><i class="far fa-grin-squint"></i></button>
        <button class="noBtnStyle"><i class="far fa-laugh-beam"></i></button>
        <button class="noBtnStyle"><i class="fas fa-grin-hearts"></i></button>
        <button class="noBtnStyle"><i class="far fa-kiss-wink-heart"></i></button>
        <button class="noBtnStyle"><i class="far fa-grin-tears"></i></button>
        <button class="noBtnStyle"><i class="fas fa-user-tie"></i></button>
        <button class="noBtnStyle"><i class="fas fa-users"></i></button>
        <button class="noBtnStyle"><i class="fas fa-user-graduate"></i></button>
        <button class="noBtnStyle"><i class="far fa-bookmark"></i></button>
        <button class="noBtnStyle"><i class="fas fa-bookmark"></i></button>
        <button class="noBtnStyle"><i class="fas fa-shopping-cart"></i></button>
        <button class="noBtnStyle"><i class="far fa-credit-card"></i></button>
        <button class="noBtnStyle"><i class="fas fa-dollar-sign"></i></button>
        <button class="noBtnStyle"><i class="fas fa-comments"></i></button>
        <button class="noBtnStyle"><i class="far fa-comments"></i></button>
        <button class="noBtnStyle"><i class="fas fa-comment-alt"></i></button>
        <button class="noBtnStyle"><i class="far fa-comment-alt"></i></button>
        <button class="noBtnStyle"><i class="fas fa-phone-alt"></i></button>
      </div>
    </div>
  </div>
</div>
