<div class="container">
  <div class="row">
    <font class="title">Icons</font>
  </div>

  <div class="row">
    <div id="frame">
      <div id="frameRow">
        <button (click)="showIco1()" class="noBtnStyle" ><i class="fas fa-smile-wink"></i></button>
        <button (click)="showIco2()" class="noBtnStyle" ><i class="far fa-smile-wink"></i></button>
        <button (click)="showIco3()" class="noBtnStyle" ><i class="far fa-surprise"></i></button>
        <button (click)="showIco4()" class="noBtnStyle" ><i class="fas fa-surprise"></i></button>
        <button (click)="showIco5()" class="noBtnStyle" ><i class="fas fa-smile-beam"></i></button>
        <button (click)="showIco6()" class="noBtnStyle" ><i class="far fa-smile-beam"></i></button>
        <button (click)="showIco7()" class="noBtnStyle" ><i class="far fa-grin-stars"></i></button>
        <button (click)="showIco8()" class="noBtnStyle" ><i class="fas fa-grin-stars"></i></button>
        <button (click)="showIco9()" class="noBtnStyle" ><i class="far fa-grin-wink"></i></button>
        <button (click)="showIco10()" class="noBtnStyle" ><i class="fas fa-grin-wink"></i></button>
        <button (click)="showIco11()" class="noBtnStyle" ><i class="fas fa-grin-squint-tears"></i></button>
        <button (click)="showIco12()" class="noBtnStyle" ><i class="far fa-grin-squint"></i></button>
        <button (click)="showIco13()" class="noBtnStyle" ><i class="far fa-laugh-beam"></i></button>
        <button (click)="showIco14()" class="noBtnStyle" ><i class="fas fa-grin-hearts"></i></button>
        <button (click)="showIco15()" class="noBtnStyle" ><i class="far fa-kiss-wink-heart"></i></button>
        <button (click)="showIco16()" class="noBtnStyle" ><i class="far fa-grin-tears"></i></button>
        <button (click)="showIco17()" class="noBtnStyle" ><i class="fas fa-user-tie"></i></button>
        <button (click)="showIco18()" class="noBtnStyle" ><i class="fas fa-users"></i></button>
        <button (click)="showIco19()" class="noBtnStyle" ><i class="fas fa-user-graduate"></i></button>
        <button (click)="showIco20()" class="noBtnStyle" ><i class="far fa-bookmark"></i></button>
        <button (click)="showIco21()" class="noBtnStyle" ><i class="fas fa-bookmark"></i></button>
        <button (click)="showIco22()" class="noBtnStyle" ><i class="fas fa-shopping-cart"></i></button>
        <button (click)="showIco23()" class="noBtnStyle" ><i class="far fa-credit-card"></i></button>
        <button (click)="showIco24()" class="noBtnStyle" ><i class="fas fa-dollar-sign"></i></button>
        <button (click)="showIco25()" class="noBtnStyle" ><i class="fas fa-comments"></i></button>
        <button (click)="showIco26()" class="noBtnStyle" ><i class="far fa-comments"></i></button>
        <button (click)="showIco27()" class="noBtnStyle" ><i class="fas fa-comment-alt"></i></button>
        <button (click)="showIco28()" class="noBtnStyle" ><i class="far fa-comment-alt"></i></button>
        <button (click)="showIco29()" class="noBtnStyle" ><i class="fas fa-phone-alt"></i></button>
      </div>
    </div>
  </div>
</div>
