.cropping{
width:100px;
height:100px;
position:absolute;
right:-295px !important;
margin-top:52vh !important;
z-index:3;
}

.cropped{
max-height:62vh;
position:absolute;
}

.cropped:hover{
cursor: -webkit-grab;
cursor: grab;
}

.paper{
border-radius:0px;
width:650px;
height:62vh;
}

.paper-col{
height:70vh;
}

.change{
height:200px;
width:200px;
}

