.img-container{
float:left;
}

.img-preview{
width:200px;
height:200px;
float:left;
}

.paper{
border-radius:0px;
width:650px;
height:62vh;
}

.paper-col{
height:70vh;
}

.change{
height:200px;
width:200px;
}

