<div class="container">
  <div class="row">
    <div class="col-8 paper-col d-flex justify-content-center align-items-center">
      <mat-card class="paper p-0 bg-white">
        <img #image [src]="imageSource" crossorigin="anonymous">
      </mat-card>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12 pt-3">
          <app-nav-right></app-nav-right>
        </div>
        <div class="col-12 pt-3">
          <img [src]="imageDestination" class="img-preview">
        </div>
      </div>
    </div>
  </div>
</div>
