<div class="cropping">
  <img #image [src]="imageSource" crossorigin="anonymous">
</div>
<div class="cropped" >
  <img ngDraggable ngResizable [src]="imageDestination">
<!--  <img ngDraggable ngResizable #container (resize)="onResize($event)" [direction]="[AngularResizeElementDirection.BOTTOM_RIGHT, AngularResizeElementDirection.BOTTOM]" [targetElement]="container" class="resize resize resize__bottom&#45;&#45;right resize-img resize__right" mat-card-image [style.width.px]="data.width" [style.height.px]="data.height" [src]="imageDestination">-->
</div>

