<div class="container">
  <div class="row">
    <font class="title">Shapes</font>
  </div>
  <div class="row">
    <div id="frame">
      <div id="frameRow">
        <button class="noBtnStyle" id="square"></button>
        <button class="noBtnStyle" id="squareRadius"></button>
        <button class="noBtnStyle" id="rectangle"></button>
        <button class="noBtnStyle" id="rectangleRadius"></button>
        <button class="noBtnStyle" id="circle"></button>
        <button class="noBtnStyle" id="oval"></button>
        <button class="noBtnStyle">
          <div id="triangleup"></div>
        </button>
        <button class="noBtnStyle">
          <div id="triangleupRadius"></div>
        </button>
        <button class="noBtnStyle">
          <div id="triangledown"></div>
        </button>
        <button class="noBtnStyle">
          <div id="triangledownRadius"></div>
        </button>
        <button class="noBtnStyle">
          <div id="triangleleft"></div>
        </button>
        <button class="noBtnStyle">
          <div id="triangleleftRadius"></div>
        </button>
        <button class="noBtnStyle">
          <div id="triangleright"></div>
        </button>
        <button class="noBtnStyle">
          <div id="trianglerightRadius"></div>
        </button>
        <button class="noBtnStyle">
          <div id="triangletopleft"></div>
        </button>
        <button class="noBtnStyle">
          <div id="triangletopleftRadius"></div>
        </button>
        <button class="noBtnStyle">
          <div id="trianglebottomleft"></div>
        </button>
        <button class="noBtnStyle">
          <div id="trianglebottomleftRadius"></div>
        </button>
        <button class="noBtnStyle">
          <div id="starsix"></div>
        </button>
        <button class="noBtnStyle">
          <div id="starsixRadius"></div>
        </button>
      </div>
    </div>
  </div>
</div>
