#frame {
  min-height: calc(170px - 0px);
  max-height: calc(170px - 0px);
  overflow-y: scroll;
  overflow-x: hidden;
  background:#222831;
  color:white;
  font-size:14px;
  width:330px;
  background:black;
  border-radius:3px;
  padding:4px;
  margin-top:3px;
}

#frame::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
#frame::-webkit-scrollbar-thumb {
  background-color: silver;
  border-radius:30px !important;
}

#frameRow{
min-height:250px;
height:auto;
max-height:auto !important;
}

.title{
color:#eeeeee;
font-size:13px;
}

.noBtnStyle{
border:none;
padding:0px;
outline:none;
margin:5px;
background:none;
}

#square{
width: 50px;
height: 50px;
background: #2980b9;
}


#rectangle{
width: 80px;
height: 40px;
background: #2980b9;
}

#circle{
width: 50px;
height: 50px;
background: #2980b9;
border-radius: 50% !important;
}

#oval {
width: 80px;
height: 40px;
background: #2980b9;
border-radius: 80px / 40px;
}

#triangleup{
width: 0;
height: 0;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 50px solid #2980b9;
}


#triangledown{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #2980b9;
}

#triangleleft{
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #2980b9;
	border-bottom: 25px solid transparent;
}

#triangleright{
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #2980b9;
	border-bottom: 25px solid transparent;
}

#triangletopleft{
width: 0;
height: 0;
border-top: 50px solid #2980b9;
border-right: 50px solid transparent;
}

#triangletopright {
width: 0;
height: 0;
border-top: 50px solid #2980b9;
border-left: 50px solid transparent;
}

#trianglebottomleft {
width: 0;
height: 0;
border-bottom: 50px solid #2980b9;
border-right: 50px solid transparent;
}

#trianglebottomright {
width: 0;
height: 0;
border-bottom: 50px solid #2980b9;
border-left: 50px solid transparent;
}

#starsix {
width: 0;
height: 0;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 50px solid #2980b9;
position: relative;
}

#starsix:after {
width: 0;
height: 0;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-top: 50px solid #2980b9;
position: absolute;
content: "";
top: 15px;
left: -25px;
}

#starsixRadius:after {
width: 0;
height: 0;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-top: 50px solid #2980b9;
position: absolute;
content: "";
top: 15px;
left: -25px;
border-radius:5px;
}

#squareRadius{
width: 50px;
height: 50px;
background: #2980b9;
border-radius:10%;
}

#rectangleRadius{
width: 80px;
height: 40px;
background: #2980b9;
border-radius:7px;
}

#triangleupRadius{
width: 0;
height: 0;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 50px solid #2980b9;
border-radius:5px;
}


#triangledownRadius{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #2980b9;
	border-radius:5px;
}

#triangleleftRadius{
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #2980b9;
	border-bottom: 25px solid transparent;
	border-radius:5px;
}

#trianglerightRadius{
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #2980b9;
	border-bottom: 25px solid transparent;
	border-radius:5px;
}

#triangletopleftRadius{
width: 0;
height: 0;
border-top: 50px solid #2980b9;
border-right: 50px solid transparent;
border-radius:5px;
}

#triangletoprightRadius {
width: 0;
height: 0;
border-top: 50px solid #2980b9;
border-left: 50px solid transparent;
border-radius:5px;
}

#trianglebottomleftRadius {
width: 0;
height: 0;
border-bottom: 50px solid #2980b9;
border-right: 50px solid transparent;
border-radius:5px;
}

#trianglebottomrightRadius {
width: 0;
height: 0;
border-bottom: 50px solid #2980b9;
border-left: 50px solid transparent;
border-radius:5px;
}

#starsixRadius {
width: 0;
height: 0;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 50px solid #2980b9;
position: relative;
border-radius:5px;
}

#heart {
      position: relative;
      width: 50px;
      height: 40px;
    }
    #heart:before,
    #heart:after {
      position: absolute;
      content: "";
      left: 40px;
      top: 0;
      width: 40px;
      height: 60px;
      background: #2980b9;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    #heart:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }

#egg {
      display: block;
      width: 46px;
      height: 60px;
      background-color: #2980b9;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    }

 #talkbubble {
       width: 60px;
       height: 40px;
       background: #2980b9;
       position: relative;
       -moz-border-radius: 10px;
       -webkit-border-radius: 10px;
       border-radius: 10px;
     }
     #talkbubble:before {
       content: "";
       position: absolute;
       right: 100%;
       top: 15px;
       width: 0;
       height: 0;
       border-top: 8px solid transparent;
       border-right: 18px solid #2980b9;
       border-bottom: 8px solid transparent;
     }

    #moon {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          box-shadow: 15px 15px 0 0 #2980b9;
        }

#cross {
      background: #2980b9;
      height: 70px;
      position: relative;
      width: 10px;
    }
    #cross:after {
      background: #2980b9;
      content: "";
      height: 10px;
      left: -30px;
      position: absolute;
      top: 30px;
      width: 70px;
    }


 #base {
      background: #2980b9;
      display: inline-block;
      height: 35px;
      margin-left: 20px;
      margin-top: 35px;
      position: relative;
      width: 70px;
    }
    #base:before {
      border-bottom: 25px solid #2980b9;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      content: "";
      height: 0;
      left: -5px;
      position: absolute;
      top: -25px;
      width: 0;
    }
