<div class="container">
  <div class="row">
    <font class="title">Stickers</font>
  </div>
  <div class="row">
    <div id="frame">
      <div id="frameRow">
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/buy.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/commerce.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/commerce1.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/commerce-and-shopping.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/commerce-and-shopping1.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/commerce-and-shopping2.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/commerce-and-shopping3.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/commerce-and-shopping4.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/guarantee.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/guarantee1.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/interface.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/label-silhouette.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/label-silhouette1.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/label-silhouette2.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/logo.jpg" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/shopping.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/sign.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/signs.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/star.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/star-trek.png" width="40px"></button>
        <button class="noBtnStyle"><img src="../../assets/imgs/stickers/tag.png" width="40px"></button>
      </div>
    </div>
  </div>
</div>
